################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FrameStore/FrameStore/bin/Debug/netcoreapp3.0
/FrameStore/.vs/FrameStore/v16
/FrameStore/FrameStore/obj
/FrameStore/FrameStore.Data/bin/Debug/netcoreapp3.0
/FrameStore/FrameStore.Data/obj
/FrameStore/FrameStore.Service/bin/Debug/netcoreapp3.0
/FrameStore/FrameStore.Service/obj
/.vs
/FrameStore/.vs/FrameStore/config/applicationhost.config
/FrameStore/.vs/FrameStore/DesignTimeBuild/.dtbcache
/FrameStore/FrameStore/FrameStore.csproj.user
